{% extends 'base-admin.html.twig' %}

{% block title %}Accueil{% endblock %}

{# Catégories #}
{% block headtitle %}
    <div class="head-title">
        <div class="left">
            <h1>Dashboard</h1>
            <ul class="breadcrumb">
                <li>
                    <a href="#">Dashboard</a>
                </li>
                <li><i class='bx bx-chevron-right' ></i></li>
                <li>
                    <a class="active" href="{{ path('app_admin_moniteur') }}">Moniteur</a>
                </li>
                <li><i class='bx bx-chevron-right' ></i></li>
                <li>
                    <a class="active" href="{{ path('app_admin_moniteur_add') }}">Ajouter un moniteur</a>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}

{# Informations générales #}
{% block boxinfos %}

{% endblock %}

{# Commandes récentes - Non terminé (Accueil) #}
{% block table %}
<div class="table-data">
    <div class="order">
        <div class="head">
            <h3>Liste des moniteurs :</h3>
            <i class='bx bx-search' ></i>
            <i class='bx bx-filter' ></i>
        </div>
        <table>
            <thead>
            <tr>
                <th>Prénom complet</th>
                <th>Telephone</th>
                <th>Status</th>
                <th>Planning</th>
                <th>Informations</th>
            </tr>
            </thead>
            <tbody>
            {% for moniteur in moniteurs %}
                <tr>
                    <td>
                        {% if moniteur.image %}
                            <img src="{{ asset(moniteur.image.path) }}" alt="Photo de profil">
                        {% else %}
                            <img src="{{ asset('image/avatar_default.png') }}">
                        {% endif %}
                        <p>{{ moniteur.nom }} {{ moniteur.prenom }}</p>
                    </td>
                    <td>{{ moniteur.telephone }}</td>
                    <td><span class="status {{ moniteur.isVerified ? 'completed' : 'pending' }}">{{ moniteur.isVerified ? 'Vérifié' : 'Non vérifié' }}</span></td>
                    <td><a href="{{ path('app_admin_moniteur_planning', {'id' : moniteur.id}) }}" style="text-decoration: none; color:{% if admin.theme == null %} #422424 {% elseif admin.theme == true %} white {% endif %};">Accéder</a></td>
                    <td><a href="{{ path('app_admin_moniteur_show', { 'id': moniteur.id}) }}" style="text-decoration: none; color:{% if admin.theme == null %} #422424 {% elseif admin.theme == true %} white {% endif %};">Voir</a></td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}

{# Todos - 2 #}
{% block tables %}

{% endblock %}